# Permalinks
permalink:        pretty

# Setup
title:            M&#39;s Blog
tagline:          'We&#39;re all different. This is the only thing we have in common.'
description:      'practical thoughts about software engineering'
url:              http://ludovicianul.github.io
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/ludovicianul
